@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/*Header*/
header {
  background-color: #afd4e2;
  opacity: 0.95;
  color: #1e3240;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
}

.userTarget {
  display: flex;
  align-items: center;
}

.userTarget img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cerrar-sesion {
  color: #000000;
  font-size: 14px;
}

/*Main*/
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 70px;
}

.welcome{
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*Opciones (Vistas de página)*/
.options {
  text-align: center;
  align-items: center;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options a {
  text-decoration: none;
  color: #1e3240;
  margin: 0 10px;
  font-size: 14px;
}

/*
.options a:hover {
  color: #ffffff;
  transition: 0.5s;
}
*/

.options .option1{
    font-weight: 700;
}


.text_logo{
    margin-left: 30px;
}

/*Productos*/

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #1e3240;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #1e3240;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}
