@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/*Header*/
header {
  background-color: #afd4e2;
  opacity: 0.95;
  color: #1e3240;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
}

.userTarget {
  display: flex;
  align-items: center;
}

.userTarget img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cerrar-sesion {
  color: #000000;
  font-size: 14px;
}

/*Main*/
main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 70px;
}

.options {
  text-align: center;
  align-items: center;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options a {
  text-decoration: none;
  color: #1e3240;
  margin: 0 10px;
  font-size: 14px;
}

.welcome{
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*Options*/

/*
.options a:hover {
  color: #ffffff;
  transition: 0.5s;
}
*/

.options .option2{
    font-weight: 700;
}


.text_logo{
    margin-left: 30px;
}

.tab {
  align-items: center;
  justify-content: center;
  display: flex;
}

/*Botones*/
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-container button {
  font-weight: bold;
  margin: 0 5px;
  margin-top: 30px;
}

#montof{
  background-color: #afd4e2;
}

#cuotam{
  background-color: #afd4e2;
}

/*Cronograma*/

.cronograma {
  margin-top: 20px;
  
}

input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../images/arrows/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 30px;
}

.formulario label {
  font-weight: 500;
  margin-bottom: 5px;
}

.formulario span {
  display: inline-block;
  margin-top: 5px;
  font-weight: 500;
}

.formulario .button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  font-weight: bold;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-container button.calculate {
  background-color: #ffffff;
  border: #1e3240 solid 1px;
  color: #1e3240;
}

/*
.button-container button.calculate:hover {
  background-color: #afd4e2;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
*/
.button-container button.cancel {
  background-color: #1e3240;
  color: #ffffff;
}

.cronograma .tabla-res {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  border-collapse: collapse;
  text-align: center;
}

.cronograma .tabla-res thead {
  background-color: #1e3240;
  color: #ffffff;
}

.cronograma .tabla-res td,
.cronograma .tabla-res th {
  padding: 10px;
}

.cronograma .tabla-res tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* Estilo para los elementos <span> dentro del formulario */
.formulario span {
  display: inline-block;
  width: 100%; /* Ancho igual al 100% */
  height: 40px;
  box-sizing: border-box; /* Incluir el padding y border en el ancho */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  text-align: center;
  align-items: center;
  line-height: 40px;
}

/* Estilo para los elementos <span> dentro del formulario cuando se llenan por código */
.formulario span.filled {
  background-color: #ddd;
}

/*Nuevo*/
/*Indicadores de rentabilidad*/
.rent-card {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.rent-title{
  margin-bottom: 10px;
  color: #1e3240  ;
}

.rent-v {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rent-v p {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.rent-message{
  margin-top: 5px;
  font-size: 13px;
  color: #818181;
}

.rent-v span {
  display: inline-block;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  text-align: center;
  line-height: 40px;
}

.select_tasa p{
  margin-left: 5px;
  line-height: 40px;
}

/*

.guia {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

*/