@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

nav {
  display: flex;
  color: #1e3240;
  justify-content: space-between;
  align-items: center;
  background-color: #afd4e2;
  padding: 10px;
  /*text-transform: uppercase;*/
  font-size: 14px;
}

nav img{
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-left: 60px;
}

nav p {
  margin-top: 25px;
  margin-left: 10px;
  font-weight: 700;
  margin-right: auto;
  font-size: 18px;
}

nav a {
  margin-top: 25px;
  text-decoration: none;
  color: #1e3240;
  margin-left: 40px;
}

nav a:hover{
  color: #ffffff;
  transition: 0.5s;
}

nav a:last-child {
  margin-right: 30px;
  border-radius: 5px;
}

#loginnav{
  border: 1px solid #1e3240;
  padding: 10px 20px;
  border-radius: 5px;
}

#loginnav:hover{
  border: 1px solid #1e3240;
  padding: 10px 20px;
  background-color: #1e3240;
  color: #ffffff;
  transition: 0.7s;
}

.hero {
  height: 800px;
  background-color: #afd4e2;
  color: #1e3240;
  /*
  justify-content: space-between;
  
  position: relative;
  */
  align-items: center;
  display: flex;
}

/*
.hero .ctatext, .hero .ctaimage{
    display: inline-block;
}
*/

.ctatext {
  /*width: 60%;*/
  text-align: left;
  margin-left: 70px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#ref-projects{
  text-decoration: underline;
  color: #1e3240;
}

#ref-projects:hover{
  color: #f7f6f6;
  font-weight: 500;
  transition: 0.5s;
}

.ctatext h1 {
  /*margin-bottom: 200px;*/
  font-size: 64px;
  font-weight: 700;
  line-height: 76, 8px;
}

.ctatext p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21, 6px;
  margin-bottom: 32px;
}
/*
Estilos para botones eliminados 

.ctatext a {
  margin-top: 50px;
  text-decoration: none;
  color: #1e3240;
}

#ctabutton1 {
  background-color: #1e3240;
  color: #ffffff;
  padding: 11px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

#ctabutton2 {
  border: 1px solid #1e3240;
  padding: 10px 20px;
  border-radius: 5px;
}
*/

/*About*/

.about {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  height: 800px; /*500 podria ser mejor*/
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
}

.aboutimg{
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutimg img{
  border-radius: 5px;
}

.abouttext {
  text-align: left;
  width: 50%;
  margin-left: 30px;
  color: #1e3240;
  margin-right: 170px;
  justify-content: center;
  align-items: center;
}

.about h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57, 6px;
}

/*Projects*/

.projects {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  height: 800px; /*500 podria ser mejor*/
  /*background-color: pink;*/
}

.projectstext{
  text-align: center;
}

.projectstext h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57, 6px;
}

.projectstext p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21, 6px;
  margin-bottom: 32px;
  color: gray;
}

.projectsimg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsimg img {
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.projectsimg img:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

/*Testimonial*/
.testimonial {
  margin-top: 50px;
  height: 600px; /*500 podria ser mejor*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonialtop {
  text-align: center;
  width: 100%;
  /*background-color: red;*/
}

.testimonialtop h1 {
  font-weight: bold;
  font-size: 48px;
}

.testimonialtop p {
  text-align: center;
  color: gray;
}

.contenedortestimonial {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  /*background-color: blue;*/
  margin-left: 70px;
  margin-right: 70px;
}

.testimonialimg{
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialimg img{
  border-radius: 5px;
}

.testimonialtext {
  margin-left: 80px;
  margin-right: 80px;
  color: #1e3240;
  justify-content: center;
  align-items: center;
}

.title-test{
  line-height: 57, 6px;
  margin-bottom: 15px;
}

/*
.cuerpo-test{

}
*/

.autor-test{
  margin-top: 15px;
}

/*Contact*/

.contact {
  margin-top: 50px;
  margin-left: 70px;
  height: 800px; /*500 podria ser mejor*/
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
}

.contactimg{
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactimg img{
  border-radius: 5px;
}

.contactform{
  text-align: left;
  width: 50%;
  margin-left: 30px;
  color: #1e3240;
  margin-right: 170px;
  justify-content: center;
  align-items: center;
}

.contactform h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57, 6px;
}

.contactform p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21, 6px;
  margin-bottom: 32px;
  color: gray;
}

.contactform input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1e3240;
  border-radius: 5px;
}

.contactform textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1e3240;
  border-radius: 5px;
}

#rowg1{
  margin-right: 10px;
}

.contactform .form-row {
  display: flex;
  justify-content: space-between;
}

.contactform .form-group {
  flex-basis: 100%; /**/
}

.contactform .form-group:last-child {
  flex-basis: 100%;
}

.contactform input[type="submit"] {
  background-color: #1e3240;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
}

/*Footer*/
/*
footer {
  background-color: #1e3240;
  color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 400px;
}*/

.pie-pagina{
  width: 100%;
  background-color: #1E3240;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 30px;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.pie-pagina .grupo-1 .box p{
  color: #BDBDBD;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 350;
}

.pie-pagina .grupo-1 .box a{
  text-decoration: none;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 350;
}

.pie-pagina .grupo-1 .box i{
  margin-right: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  border-radius: 50px;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: #AFD4E2;
}
.pie-pagina .grupo-2{
  background-color: #1E3240;
  padding: 15px 10px;
  text-align: center;
  color: #BDBDBD;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}